services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:latest
    container_name: rabbitmq
    ports:
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  api:
    build: .
    container_name: nest_excel_api
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - DEPLOY_ENV=docker_dev

volumes:
  mongo_data:
